// @import './base/base.scss';
@import './base/fonts.scss';
// @import "../node_modules/bootstrap/scss/bootstrap";

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {

// }
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {

// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {

// }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {

// }

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.no-padding-x {
	padding-left: 0px;
	padding-right: 0px;
}

.navigation-bar {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	padding-top: 30px;
	@include media-breakpoint-up(sm) {
		padding-top: 50px;
	}
	&.f-navigation {
		.navbar-show {
			text-decoration: underline;
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.navbar-logo {
		display: block;
		background-image: url('../images/menu/svg/Logo-betta.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 150px;
		height: 100px;
		@include media-breakpoint-up(sm) {
			width: 200px;
			height: 100px;
		}
		@include media-breakpoint-up(md) {
			width: 200px;
			height: 150px;
		}
		@include media-breakpoint-up(lg) {
			width: 250px;
			// height: 150px;
		}
		@include media-breakpoint-up(xl) {
			width: 300px;
			// height: 150px;
		}
	}
	.navbar-show.navigation {
		display: inline;
		text-decoration: underline;
		cursor: pointer;
	}
}

.nav-bar-items {
	position: absolute;
	left: 0;
	top: 0;
	background-color: $color-black;

	height: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: height 1s, opacity 1s, visibility 1s; /* For Safari 3.1 to 6.0 */
	transition: height 1s, opacity 1s, visibility 1s;
		
	a {
		color: $color-white;
		&:hover {
			color: $color-add;
		}
	}

	&.uncollapsed {
		height: 100vh;
		opacity: 1;
		visibility: visible;
		@include media-breakpoint-up(sm) {
			height: 100vh;
		}
		@include media-breakpoint-up(md) {
			height: 400px;
		}
		@include media-breakpoint-up(lg) {
			height: 400px;
		}
		@include media-breakpoint-up(xl) {
			height: 500px;
		}	
	}

	.nav-bar-items-container {
		padding: 0px 35px;
		@include media-breakpoint-up(sm) {
			padding: 0px 50px;
		}
		@include media-breakpoint-up(md) {
			height: 250px;
			padding: 0px 50px;
		}
		@include media-breakpoint-up(lg) {
			height: 250px;
			padding: 0px 100px;
		}
		@include media-breakpoint-up(xl) {
			height: 340px;
			width: 990px;
			padding: 0px;
		}
	}

	.main-menu-items {
		border-bottom: 1px solid $color-white;
		div {
			@include media-breakpoint-up(md) {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}

	.small-menu-items {
		div {
			@include media-breakpoint-up(md) {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}

	.social-menu-items {
		div {
			padding-left: 15px;
			@include media-breakpoint-up(md) {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}

	.navbar-hide {
		a {
			display: block;
			background-image: url('../images/menu/svg/x.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 20px;
			height: 20px;

			color: $color-white;
			&:hover {
				background-image: url('../images/menu/svg/x-hover.svg');
			}

			margin-left: 20px;
			@include media-breakpoint-up(sm) {
				margin-left: 0;
			}
		}
	}	
}

.home {
	min-height: 150vh;
	background-image: url('../images/home/sm/motoki-tonn.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	// Small devices (landscape phones, 576px and up) - same picture as smallest displays
	// Medium devices (tablets, 768px and up)
	@include media-breakpoint-up(md) {
		background-image: url('../images/home/md/motoki-tonn.jpg');
	}
	// Large devices (desktops, 992px and up)
	@include media-breakpoint-up(lg) {
		background-image: url('../images/home/lg/motoki-tonn.jpg');
	}
	// Extra large devices (large desktops, 1200px and up)
	@include media-breakpoint-up(xl) {
		background-image: url('../images/home/xl/motoki-tonn.jpg');
	}
	@media (min-width: 1920px) {
		background-image: url('../images/home/xxl/motoki-tonn.jpg');
	}
}


.read-more-btn {
	height: unset;
	width: unset;
	background-color: unset;
	margin: 0;
	padding: 0;
	border: none;
	&:focus {outline:0;}
}

.read-more {
	// height: 50px;
	overflow: hidden;
	-webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
	transition: height 1s;
	// @include media-breakpoint-up(md) {
	// 	height: 66px;
	// }
}
.collapsed-more {
	height: 50px;
	@include media-breakpoint-up(md) {
		height: 66px;
	}
}

.small-section {
	min-height: 30vh;
	
	.text {
		padding: 10rem 0;
		.socials {
			a {
				color: $color-add;
				font-size: $size-xxxl;
			}
		}
	}
	.photo {
		padding: 0 150px
	}
	.separator {
		border-top: 1px solid $color-main;
		// border-left: none;
		@include media-breakpoint-up(md) {
			border-left: 1px solid $color-main;
			border-top: none;
		}
	}
}

.big-section {
	.text {
		padding: 10rem 0;
	}
	.separator {
		border-top: 1px solid $color-main;
		// border-left: none;
		@include media-breakpoint-up(md) {
			border-right: 1px solid $color-main;
			border-top: none;
		}
	}
}

.news {
	background-color: $color-l-shade;
	.news-section {
		background-color: $color-main;
	}
}