@import './base/base';
@import "../node_modules/bootstrap/scss/bootstrap";

body {
	z-index: 0;
	position: relative;
	button:focus {
		outline: none;
	}
}

nav.navbar-main {
	// background-image: linear-gradient(#010101d9, #01010100);
	// background-color: $color5;
	// .navbar-brand {
	// 	width: 135px;
	// 	height: 70px;
	// 	background-image: url('../images/logo.svg');
	// 	background-position: center;
	// 	background-size: contain;
	// 	background-repeat: no-repeat;
	// }
	.navbar-nav {
		.nav-item {
			font-size: $f-size-bigger;
			a.nav-link {
				color: $color-white;
			}
			a.nav-link.active {
				color: $color-white;
				text-decoration: overline;
			}
			a.nav-link:hover {
				color: $color-white;
				text-decoration: underline;
			}
		}
	}
}

nav.navbar-light {
	button.navbar-toggler {
		color: $color-white;
		border: none;
		text-decoration: overline;
	}
}

.home {
	// background-attachment: fixed;
	// background-image: url('../images/home.jpg');
	background-image: url('../images/melody-jacob-1400392-unsplash.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $color-white;
	font-size: $f-size-much-more-bigger;
	font-weight: $f-weight-max;
	// text-shadow: 4px 4px #000000;
	.home-brand {
		background-color: $color1;
		// mix-blend-mode: multiply;
		height: 30%;
		// opacity: 0.9;
	}
}

@media (min-width: 768px) {
	.home {
		// font-size: $f-size-much-more-bigger;
		font-size: 10rem;
	}
}

.row-content {
	// margin-top: 2px;
}

.bg-1 {
	background-color: #3291D1;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}




// .bg-2 {
// 	background-color: $color3;
// }
// .bg-3 {
// 	background-color: $color1;
// }

// .socials {
// 	position: fixed;
// 	top: 15rem;
// 	right: 5px;
// 	width: 70px;
// 	color: $color-white;
// 	.socials-links {
// 		background: $color5-w-opacity;
// 		padding-top: 15px;
// 		padding-bottom: 13px;
// 		width: 58.33333%;
// 		padding-left: 18px;
// 	}
// 	.socials-heading {
// 		background: $color-white-w-opacity;
// 		border-bottom-right-radius: 10px;
// 		border-top-right-radius: 10px;
// 		width: 41.66667%;
// 		height: 155px;
// 		.btn.btn-link {
// 			background-image: url('../images/angle-double-left-solid.svg');
// 			background-position: center;
// 			background-size: contain;
// 			background-repeat: no-repeat;
// 			height: 45px;
// 		}
		
// 	}
// }

// .collapsing.width {
// 	-webkit-transition-property: width, visibility;
// 	transition-property: width, visibility;
// 	width: 0;
// 	height: auto;
// }



