// padding
// $body-padding: 3.6rem + 0.5rem;

// color scheme
// $color1: #595959;
// $color2: #727272;
// $color2-w-opacity: #727272a1;
// $color3: #c5539d;
// $color4: #d378b3;
// $color5: #e09ec9;
$color1: #EFFF41;
$color1-w-opacity: #a99d01c7;
$color3: #0C71D1;
$color3-w-opacity: #3291d154;
$color3-darker: #2276ae;
$color2: #D9291F;
// $color2-w-opacity: #d9291fa3;
$color2-w-opacity: #D9291F;
$color2-darker: #b21e16;
$color-white: white;
$color-white-w-opacity: #ffffffc2;
$color-black: black;

// font sizes
$f-size-much-more-bigger: 4.3rem;
$f-size-much-bigger: 2.3rem;
$f-size-bigger: 1.3rem;


// font wights
$f-weight-max: 900;
